@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-exo2;
  }

  body {
    @apply bg-background;
  }

  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
